* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: Roboto-regular;
  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-thin;
  src: url(./fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-light;
  src: url(./fonts/Roboto-Light.ttf);
}

body {
  font-family: Roboto-regular;
}

h2 {
  text-transform: capitalize;
}

h3 {
  text-transform: capitalize;
  font-size: 20px;
}

h5 {
  text-transform: uppercase;
}

p {
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.margin-vertical {
  margin: 60px 0;
  /* padding: 40px 0; */
}

.nav-bar {
  width: 100%;
  padding: 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
}

.logo-text {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.orange-logo {
  color: orange;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  padding-left: 5px;
  font-weight: 700;
}

.nav-links-wrapper {
  display: flex;
  flex-direction: row;
}

.nav-link {
  margin-right: 10px;
}

.nav-link a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.hero-section {
  background-image: url(./images/banner3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 60vh;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-h1 {
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 40px;
}

.main-btn {
  color: white;
  background-color: #0263bd;
  padding: 12px 20px;
  border-radius: 50px;
  border-width: 0;
  margin-top: 15px;
}

/* --------------------------------------- */

.sec-one-flex {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.title-sec-one {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-sec-one h2 {
  font-weight: 500;
  font-size: 30px;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.special-border {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-line {
  height: 1px;
  width: 100%;
  background-color: black;
}

.diamond {
  min-width: 15px;
  min-height: 15px;
  border: 1px solid black;
  transform: rotate(45deg);
  margin: 0 10px;
}

.right-line {
  height: 1px;
  width: 100%;
  background-color: black;
}

.flex-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-area: 1/1/3/3;
}

.blue-txt {
  color: #498ec4;
}

.div-one {
  /* max-width: 300px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 20px;
}

.flex-div p {
  font-family: Roboto-light;
  font-size: 14px;
}

.div-two img {
  max-width: 300px;
}

.div-three {
  /* max-width: 300px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}

.arrow-list {
  padding-left: 17px;
  font-family: roboto-thin;
  font-size: 14px;
}

.arrow-link {
  list-style: url(./images/arrow_bullet.png);
  padding-top: 15px;
}

/* --------------------------------------------------- */

.sec-two-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.flex-testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.testimonial-wrapper {
  background-color: #82c3f5;
  padding: 30px;
  max-width: 400px;
}

.testimonial-wrapper p {
  color: white;
  font-size: 14px;
  line-height: 2;
}

.img-circle {
  border: 1px solid white;
  padding: 3px;
  border-radius: 100%;
  width: 80px;
}

.img-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

/* --------------------------------------------- */

.sec-three {
  overflow: hidden;
}

.sec-three-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flex-connect {
  width: 100%;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.social-icon {
  width: 20px;
}

.contact-card {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.contact-card h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  padding: 35px;
}

.contact-card p {
  font-size: 14px;
}

.contact-us {
  background-color: #3bdd9a;
}

.img-num {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 15px;
}

.connect-us {
  background-color: #fd5282;
}

.soc-icons-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.address {
  background-color: #376de4;
}

.home {
  background-color: #82c3f5;
}

.home img {
  width: 200px;
}

/* --------------------------------------------- */

.sec-four-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  max-width: 960px;
  width: 100%;
}

form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

form button {
  display: block;
  align-self: flex-start;
  padding: 10px 20px;
  background-color: #fd9727;
  border: none;
  color: white;
}

.input-wrapper {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  gap: 15px;
}

.form-input {
  padding: 10px;
  width: 100%;
}

textarea {
  padding: 15px;
}

/* ---------------------------------------- */
.main-footer {
  background-color: #212121;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-footer p {
  font-size: 14px;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer-nav a {
  color: white;
  font-size: 14px;
}

/* --------------------------------- */

@media only screen and (max-width: 760px) {
  .hero-h1 {
    text-align: center;
  }

  .flex-div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .div-three {
    padding-left: 0;
    grid-column: 1/3;
  }
  /* -------------------------------- */

  .flex-testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* ------------------------------------- */

  .flex-connect {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* ------------------------------------ */

@media only screen and (max-width: 480px) {
  .nav-bar {
    position: relative;
    flex-direction: column;
  }

  .nav-links {
    width: 100%;
  }

  .nav-links-wrapper {
    background-color: #7fc2f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin-top: 20px;
    margin-bottom: 15px;
    gap: 15px;
    width: 100%;
  }

  .logo-text {
    color: #757575;
  }

  .orange-logo {
    border-top: 4px solid #757575;
    border-left: 4px solid #757575;
    border-bottom: 4px solid #757575;
  }

  .hero-section {
    height: 40vh;
  }

  .hero-h1 {
    font-size: 30px;
  }

  /* --------------------------------------- */

  .flex-div {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .div-two img {
    max-width: 100%;
  }

  /* ----------------------------------------- */

  .flex-testimonials {
    display: flex;
    flex-direction: column;
  }
  /* -------------------------------------------- */

  .input-wrapper {
    flex-direction: column;
  }
}
