<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1 id="top">Top of the page</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime
      accusantium quidem et asperiores iusto. Accusamus architecto perspiciatis
      ea consectetur sint ducimus labore inventore, optio nesciunt suscipit illo
      omnis vitae quaerat.
    </p>
    <img src="./bart.gif" alt="" class="first-img" />
    <img src="./bart2.gif" alt="" class="second-img" />
    <img src="./bart3.jpg" alt="" class="third-img" />
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime
      accusantium quidem et asperiores iusto. Accusamus architecto perspiciatis
      ea consectetur sint ducimus labore inventore, optio nesciunt suscipit illo
      omnis vitae quaerat.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime
      accusantium quidem et asperiores iusto. Accusamus architecto perspiciatis
      ea consectetur sint ducimus labore inventore, optio nesciunt suscipit illo
      omnis vitae quaerat.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime
      accusantium quidem et asperiores iusto. Accusamus architecto perspiciatis
      ea consectetur sint ducimus labore inventore, optio nesciunt suscipit illo
      omnis vitae quaerat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quisquam
      dolore temporibus possimus vero eaque quas blanditiis ad provident rem,
      culpa ipsam consequuntur aliquid officia tempora cum fugit. Dolor
      molestiae voluptatibus quam odit beatae laudantium officiis vitae,
      necessitatibus saepe facilis quaerat omnis suscipit expedita eligendi
      illum doloribus alias corporis ex reprehenderit magni corrupti. Veniam,
      expedita eius aperiam adipisci tempora minus accusantium delectus animi.
      Nostrum, labore consectetur? Tempore reprehenderit quos error sapiente,
      sint tempora ratione omnis impedit eos dolores modi voluptate quibusdam
      fugit, vitae illo ducimus atque deserunt itaque beatae praesentium rerum!
      Velit sit, a quibusdam animi labore laboriosam nam, qui voluptatibus
      repellendus quae illum harum! Laborum culpa nulla ducimus necessitatibus
      pariatur quas aliquam, blanditiis veniam praesentium modi quam sint facere
      tempore, aperiam aliquid eaque voluptates. Similique molestias illum
      excepturi quae veniam ab, repellendus deserunt possimus explicabo fugiat
      reiciendis consectetur animi blanditiis sed laboriosam inventore quibusdam
      corrupti adipisci culpa ad et ut dignissimos eos? Libero modi facere iusto
      dolorum officia maiores tempore reprehenderit eos recusandae fuga nemo
      distinctio quaerat labore pariatur adipisci vel qui maxime aperiam amet,
      nam suscipit, quia rem, hic fugiat. Soluta placeat obcaecati autem,
      voluptatibus quas debitis atque. Necessitatibus aperiam iure nesciunt
      magni rerum exercitationem perspiciatis voluptatum vero.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quisquam
      dolore temporibus possimus vero eaque quas blanditiis ad provident rem,
      culpa ipsam consequuntur aliquid officia tempora cum fugit. Dolor
      molestiae voluptatibus quam odit beatae laudantium officiis vitae,
      necessitatibus saepe facilis quaerat omnis suscipit expedita eligendi
      illum doloribus alias corporis ex reprehenderit magni corrupti. Veniam,
      expedita eius aperiam adipisci tempora minus accusantium delectus animi.
      Nostrum, labore consectetur? Tempore reprehenderit quos error sapiente,
      sint tempora ratione omnis impedit eos dolores modi voluptate quibusdam
      fugit, vitae illo ducimus atque deserunt itaque beatae praesentium rerum!
      Velit sit, a quibusdam animi labore laboriosam nam, qui voluptatibus
      repellendus quae illum harum! Laborum culpa nulla ducimus necessitatibus
      pariatur quas aliquam, blanditiis veniam praesentium modi quam sint facere
      tempore, aperiam aliquid eaque voluptates. Similique molestias illum
      excepturi quae veniam ab, repellendus deserunt possimus explicabo fugiat
      reiciendis consectetur animi blanditiis sed laboriosam inventore quibusdam
      corrupti adipisci culpa ad et ut dignissimos eos? Libero modi facere iusto
      dolorum officia maiores tempore reprehenderit eos recusandae fuga nemo
      distinctio quaerat labore pariatur adipisci vel qui maxime aperiam amet,
      nam suscipit, quia rem, hic fugiat. Soluta placeat obcaecati autem,
      voluptatibus quas debitis atque. Necessitatibus aperiam iure nesciunt
      magni rerum exercitationem perspiciatis voluptatum vero.
    </p>
    <a class="main-link" href="#top">Got to the top</a>
  </body>
</html>
