$color: red;
$light-color: #fff;
$dark-color: #000;

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}

h1 {
  color: set-text-color($dark-color);
}

body {
  background-color: $dark-color;
}
