<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="nav-container-new">
      <ul class="nav-bar-new">
        <li class="nav-link-new"><a href="">Home</a></li>
        <li class="nav-link-new"><a href="">About</a></li>
        <li class="nav-link-new"><a href="">Contact</a></li>
        <li class="nav-link-new"><a href="">Blog</a></li>
      </ul>
    </div>
    <br />
    <br />
    <br />
    <br />
    <h1>Advanced Positioning</h1>
    <br />
    <br />
    <br />
    <br />
    <div class="nav-container">
      <div class="nav-bar">
        <ul class="links-wrapper">
          <li><a class="nav-links home-main" href="">Home</a></li>
          <li><a class="nav-links" href="">Menu 1</a></li>
          <li class="menu-hover">
            <a class="nav-links menu-2" href="">Menu 2</a>
            <ul class="sub-menu">
              <li><a class="sub-links" href="">Sub Menu 1</a></li>
              <li><a class="sub-links" href="">Sub Menu 2</a></li>
              <li><a class="sub-links" href="">Sub Menu 3</a></li>
            </ul>
          </li>
          <li><a class="nav-links" href="">Menu 3</a></li>
        </ul>
      </div>
    </div>

    <h1>Z index vezbe</h1>

    <br />
    <br />
    <br />
    <div class="red all-divs"></div>
    <div class="orange all-divs"></div>
    <div class="blue all-divs"></div>
    <hr />
    <div class="red-1 all-divs"></div>
    <div class="orange-1 all-divs"></div>
    <div class="blue-1 all-divs"></div>
    <hr />
    <div class="relative-pos">
      <div class="red-2 all-divs"></div>
      <div class="orange-2 all-divs"></div>
      <div class="blue-2 all-divs"></div>
    </div>
    <br />
    <br />
    <br />
    <div class="empty-space"></div>
    <div class="nav-container-new">
      <ul class="nav-bar-new">
        <li class="nav-link-new"><a href="">Home</a></li>
        <li class="nav-link-new"><a href="">About</a></li>
        <li class="nav-link-new"><a href="">Contact</a></li>
        <li class="nav-link-new"><a href="">Blog</a></li>
      </ul>
    </div>
  </body>
</html>
